<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Task 60 - Patterns">
    <test name="Test">
        <classes>
            <class name="LoginPageTest"/>
            <class name="HomePageTest"/>
            <class name="OfficePageTest"/>
            <class name="VacationPageTest"/>
            <class name="VacationPageTest"/>
        </classes>
    </test>
</suite>